body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

main {
    max-width: 840px;
}
nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: #fff;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(0, 0, 0 / 0.2);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333333;
    text-align: center;
}

aside img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 20px solid #0000;
    text-align: center;
}
