body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333333;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 1.5rem;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
}

h2 {
    border-bottom: 1px solid #2222;
}
img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 20px #333333;
}

section {
    margin: 20px 0;
    border: 1px solid rgb(0, 0, 0 / 10%);
    padding: 10px;
    background-color: gainsboro;
    font-size: 0.9rem;
}

section p {
    margin: 10px;
}

footer {
    background-color: #333333;
    color: #ffff;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
}